[submodule "server/private/externals/BreakItDown"]
	path = server/private/externals/BreakItDown
	url = https://github.com/matthewshafer/BreakItDown.git
[submodule "tests/Teency"]
	path = tests/Teency
	url = https://github.com/matthewshafer/Teency.git
